@charset "UTF-8";
*,
::after,
::before {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body,
blockquote,
dl,
dd {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; /* 2 */
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
}

button,
select {
  cursor: pointer;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/**
@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {}
@media (min-width: $phablet-width) and (max-width: $tablet-width-only) {}
@media (min-width: $phablet-width) and (max-width: $phablet-width-only) {} // 768-1023
@media (min-width: $tablet-width) and (max-width: $notebook-width) {} // 1024-1150
@media (min-width: $desktop-width) and (max-width: $desktop-width-full-hd) {}
@media (min-width: $mini-width) and (max-width: $notebook-width) {} // 480-1150
@media (min-width: $width-380) {}
@media (min-width: $mini-width) {}
@media (min-width: $phablet-width) {}
@media (min-width: $tablet-width) {}
@media (min-width: $notebook-width) {}
@media (min-width: $desktop-width) {}
@media (min-width: $desktop-width-full) {}
*/
/**
// Desktop First Media
@media (max-width: 1365px) {}
@media (max-width: 1279px) {}
@media (max-width: 1151px) {}
@media (max-width: 1023px) {}
@media (max-width: 767px) {}
@media (max-width: 567px) {}
@media (max-width: 479px) {}

===========
@media (max-width: $desktop-width-full-hd) {}
@media (max-width: $m1659) {}
@media (max-width: $m1549) {}
@media (max-width: $m1439) {}
@media (max-width: $notebook-width-only) {}  // 1365
@media (max-width: $tablet-width-only) {}  // 1279
@media (max-width: $phablet-width-full-only) {}  // 1151
@media (max-width: $phablet-width-only) {}  // 1023
@media (max-width: $mobile-width-only) {}  // 767
@media (max-width: $landscape-width-only) {}  // 567
@media (max-width: $small-gadjet) {}  // 479



// other
@media (max-width: $mobile-width) {}
@media (min-width: $mobile-width-only) and (max-width: $phablet-width) {}
@media (min-width: $phablet-width) and (max-width: $notebook-width-only) {}
@media (min-width: $tablet-width-only) and (max-width: $tablet-width) {}
@media (min-width: $desktop-width-only) and (max-width: $desktop-width) {}
@media (max-width: $phablet-width) {}
@media (max-width: $tablet-width) {}
@media (max-width: $desktop-width) {}

Пример подключения фона с ретиной:
.banner {
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat center / 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/gift-photo-mobile@2x.jpg") no-repeat center / 100%;
  }
}
 */
body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  color: #190c50;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1254px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "TT Norms Pro Trial Expanded";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("TT Norms Pro Trial Expanded Regular"), local("TT-Norms-Pro-Trial-Expanded-Regular"), local("TTNormsProTrialExpandedRegular"), url("/fonts/TTNormsProTrialExpandedRegular.woff2") format("woff2"), url("/fonts/TTNormsProTrialExpandedRegular.woff") format("woff");
}
@font-face {
  font-family: "TT Norms Pro Trial Expanded";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("TT Norms Pro Trial Expanded Medium"), local("TT-Norms-Pro-Trial-Expanded-Medium"), local("TTNormsProTrialExpandedMedium"), url("/fonts/TTNormsProTrialExpandedMedium.woff2") format("woff2"), url("/fonts/TTNormsProTrialExpandedMedium.woff") format("woff");
}
@font-face {
  font-family: "TT Norms Pro Trial Expanded";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("TT Norms Pro Trial Expanded Bold"), local("TT-Norms-Pro-Trial-Expanded-Bold"), local("TTNormsProTrialExpandedBold"), url("/fonts/TTNormsProTrialExpandedBold.woff2") format("woff2"), url("/fonts/TTNormsProTrialExpandedBold.woff") format("woff");
}
@font-face {
  font-family: "TT Smalls Trial";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("TT Smalls Trial Regular"), local("TT-Smalls-Trial-Regular"), local("TTSmallsTrialRegular"), url("/fonts/TTSmallsTrialRegular.woff2") format("woff2"), url("/fonts/TTSmallsTrialRegular.woff") format("woff");
}
@font-face {
  font-family: "TT Smalls Trial";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("TT Smalls Trial Medium"), local("TT-Smalls-Trial-Medium"), local("TTSmallsTrialMedium"), url("/fonts/TTSmallsTrialMedium.woff2") format("woff2"), url("/fonts/TTSmallsTrialMedium.woff") format("woff");
}
@font-face {
  font-family: "TT Smalls Trial";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("TT Smalls Trial Demi Bold"), local("TT-Smalls-Trial-Demi-Bold"), local("TTSmallsTrialDemiBold"), url("/fonts/TTSmallsTrialDemiBold.woff2") format("woff2"), url("/fonts/TTSmallsTrialDemiBold.woff") format("woff");
}
@font-face {
  font-family: "TT Smalls Trial";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("TT Smalls Trial Bold"), local("TT-Smalls-Trial-Bold"), local("TTSmallsTrialBold"), url("/fonts/TTSmallsTrialBold.woff2") format("woff2"), url("/fonts/TTSmallsTrialBold.woff") format("woff");
}
@font-face {
  font-family: "Pangram-ExtraLight";
  src: url("/fonts/Pangram-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Pangram-Light";
  src: url("/fonts/Pangram-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Pangram-Regular";
  src: url("/fonts/Pangram-Regular.ttf") format("truetype");
}
.materials {
  background-color: #F6F6F6;
  padding: 100px 0;
}
.materials__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
}
.materials__title {
  font-size: 3rem;
  grid-column: 12 span;
}
.materials__column-table {
  grid-column: 8 span;
}
.materials .table {
  width: 100%;
  height: 660px;
  border-collapse: collapse;
}
.materials .table__row {
  font-size: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.358);
}
.materials .table__row:not(:first-child):hover {
  background: rgba(247, 206, 3, 0.1647058824);
  color: #F7CE03;
}
.materials .table__cell {
  padding-left: 10px;
}
.materials .table__cell:first-child {
  color: black;
}
.materials .table__cell:not(:first-child) {
  text-align: center;
}
.materials .contact {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: rgba(128, 128, 128, 0.1215686275);
  font-size: 1.5rem;
  padding: 20px 0px 20px 10px;
}
.materials .contact__text {
  margin: 0;
}
.materials .contact__link {
  text-decoration: none;
  margin-right: 60px;
  color: inherit;
}

.materials-slider {
  position: relative;
  grid-column: 4 span;
  width: 100%;
  margin-top: 39px;
  text-rendering: auto;
  align-self: flex-start;
}
.materials-slider__list {
  margin: 0;
  padding: 0;
}
.materials-slider__item {
  display: flex;
  flex-direction: column;
  height: auto;
}
.materials-slider .card-article__text {
  display: flex;
  flex-direction: column;
  background-color: #28292f;
  color: white;
  flex-grow: 1;
}
.materials-slider .card-article__title {
  margin: 0;
  padding: 20px;
}
.materials-slider .card-article__discription {
  padding: 0 20px;
}
.materials-slider .card-article__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 58px;
  background-color: #F7CE03;
  color: #28292F;
  margin-top: auto;
}
.materials-slider__prev, .materials-slider__next {
  width: 52px;
  height: 52px;
  background-color: rgba(255, 255, 255, 0.42);
  color: #28292F;
}
.materials-slider__prev::after, .materials-slider__next::after {
  font-size: 1.5625rem;
}
.materials-slider__prev {
  background-repeat: no-repeat;
  left: 0;
}
.materials-slider__next {
  background-repeat: no-repeat;
  left: 52px;
}

/*# sourceMappingURL=main.css.map */
