.materials {
  background-color: #F6F6F6;
  padding: 100px 0;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;

  }
  &__title {
    font-size: 3rem;
    grid-column: 12 span;
  }
  &__column-table {
    grid-column: 8 span;
  }
  .table {
    width: 100%;
    height: 660px;
    border-collapse: collapse;


    &__row {
      font-size: 1.125rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.358);

      &:not(:first-child):hover {
        background: #f7ce032a;
        color:#F7CE03;
      }
    }
    &__cell {
      padding-left: 10px;

      &:first-child {
        color:black;
      }
      &:not(:first-child ) {
        text-align: center;
      }
    }
  }
  .contact {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #8080801f;
    font-size: 1.5rem;
    padding: 20px 0px 20px 10px;
    &__text {
      margin: 0;
    }
    &__link {
      text-decoration: none;
      margin-right: 60px;
      color: inherit;
    }
  }
}
